.home-page {
    padding-top: 2em;
    height: 55vh;
    width: 30%;
    border-radius: 10px;
    background-color: white;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: background-color 0.3s ease;
}

.home-success-message {
    font-size: 1.15em;
}

.home-navlink-div {
    margin: 1em 0em;
}

.to-do-header {
    margin-bottom: 1.5em;
}

.home-navlink-div {
    display: flex;
    align-items: center;
}

.home-page-link {
    text-decoration: none;
    color: white;
    font-size: 1.1em;
    border-radius: 5px;
    padding: 0.5em 1em;
    background-color: #007bff;
}

.weight-actions {
    border-bottom: 1px solid lightgray;
    max-width: 50%;
}

.workout-actions {
    border-bottom: 1px solid lightgray;
    max-width: 50%;
}

.home-page-link:hover {
    cursor: pointer;
    background-color: #0056b3;
    box-shadow: 5px 5px 5px rgb(129, 128, 128);
}

.workouts-done,
.streak {
    font-size: 1.25em;
}

.fire-emote {
    color: rgb(253, 168, 10);
}

.bold-data {
    font-weight: 700;
}

.home-page-content-div {
    margin-left: 5em;
}

.home-page-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 72vh;
}

.home-page h2 {
    font-size: 2em;
    color: #333; /* Dark text color */
    margin-bottom: 1em;
}



@media (max-width: 700px) {
    .home-page {
        width: 90%;
    }

    .home-page-content-div {
        margin-left: 2em;
    }

    .home-page-link {
        padding: 8px 24px;
    }
}
