.edit-workout-form {
    display: flex;
    justify-content: space-between;

}

.change-workout-type-btn {
    margin-left: 3rem;
}

@media (max-width: 700px) {
    .edit-workout-button {
        margin-left: 1em;
    }
}
