
.create-exercise-header {
    font-size: var(--size-lg);
    color: var(--clr-slate800);
}

.create-exercise-form-button-div {
    display: flex;
    justify-content: space-between;
    margin-top: 1rem;
}

.create-exercise-form {
    max-width: 90%;
}

select {
    cursor: pointer;
}
