.home-page-button {
    all: unset;
    text-align: center;
    color: white;
    font-size: 1.1em;
    background-color:#005ea6;
    width: 10em;
    height: 4em;
    border-radius: 20px;
}


.home-page-button:hover {
    cursor: pointer;
    background-color: #2c6cb6;
}

.home-page-button.active {
    background-color: #2c6cb6;
}
