.view-workout-page {
    margin: auto;
    padding: 2em;
    width: 80%;
    max-width: 900px;
    background-color: var(--clr-slate800);
    border-radius: 10px;
    box-shadow: 0 3px 3px rgba(0, 0, 0, 0.1);
}

.view-header {
    color: var(--clr-light);
    font-size: var(--size-3xl);
    text-align: center;
    margin-bottom: 2rem;
}

.view-sub-header {
    font-size: var(--size-2xl);
    color: var(--clr-slate400);
    margin: 1.5rem 0rem;
}

.viewer-p-text {
    color: var(--clr-slate600);
    font-size: var(--size-base);
}


.create-workout-link-div {
    display: none;
}


.next-prev-button {
    padding: 0.4em 0.5em;
    border: none;
    border-radius: 5px;
    color: white;
    background-color: grey;
}

.next-prev-button:hover {
    cursor: pointer;
    background-color: rgb(92, 92, 92);
}

.pagination-controls {
    display: flex;
    margin-top: 2em;
    justify-content: space-between;
}

.view-workout-page .button-group {
    display: flex;
    justify-content: center;
    gap: 1em;
    margin-bottom: 1em;
}

.search-button:hover {
    background-color: #0056b3;
}

.search-container {
    background-color: var(--clr-slate600);
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 1rem;
    position: relative;
    width: 50%;
    margin: 0 auto;
    border: 1px solid #ddd;
    border-radius: 25px;
    padding: 0.5rem 1rem;
    transition: border-color 0.3s ease, box-shadow 0.3s ease;
}

.search-container:focus-within {
    border-color: var(--clr-indigo);
    box-shadow: 0 0 5px rgba(0, 123, 255, 0.5);
}

.view-workout-page input[type="text"] {
    background-color: var(--clr-slate600);
    color: var(--clr-slate400);
    font-size: 1em;
    border: none;
    outline: none;
    width: 100%;
    padding-left: 2.5em; /* Adjust padding to make space for the icon */
}

.view-workout-page input::placeholder {
    color: var(--clr-slate400);
}


.search-icon {
    position: absolute;
    left: 1rem;
    top: 55%;
    transform: translateY(-50%);
    width: 1.25em;
    height: 1.25em;
    pointer-events: none;
    color: var(--clr-rose);
}


.view-workout-page .workout-item {
    padding-bottom: 1em;
    border-bottom: 1px solid #ddd;
}

.view-workout-page .workout-item:last-child {
    border-bottom: none;
}

@media (max-width: 700px) {
   .search-button {
    width: 50%;
   }


}
