.view-workout-page {
    margin: 2em auto;
    padding: 2em;
    width: 80%;
    max-width: 900px;
    background-color: white;
    /* background-color: #EAE6DA; */
    border-radius: 10px;
    box-shadow: 0 3px 3px rgba(0, 0, 0, 0.1);
}

.next-prev-button {
    padding: 0.4em 0.5em;
    border: none;
    border-radius: 5px;
    color: white;
    background-color: grey;
}

.next-prev-button:hover {
    cursor: pointer;
    background-color: rgb(92, 92, 92);
}

.pagination-controls {
    display: flex;
    margin-top: 2em;
    justify-content: space-between;
}

.view-workout-page h1 {
    font-size: 2em;
    color: #333;
    text-align: center;
    margin-bottom: 1em;
}

.view-workout-page h2 {
    font-size: 1.5em;
    color: #333;
    margin-bottom: 1em;
}

.view-workout-page .button-group {
    display: flex;
    justify-content: center;
    gap: 1em;
    margin-bottom: 1em;
}

.search-button {
    padding: 0.5em 1em;
    font-size: 1em;
    color: white;
    background-color: #007bff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.search-button:hover {
    background-color: #0056b3;
}

.view-workout-page .search-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 1em;
    position: relative;
    width: 50%;
    margin: 0 auto;
    border: 1px solid #ddd;
    border-radius: 25px;
    padding: 0.5em 1em;
    transition: border-color 0.3s ease, box-shadow 0.3s ease;
}

.view-workout-page .search-container:focus-within {
    border-color: #007bff;
    box-shadow: 0 0 5px rgba(0, 123, 255, 0.5);
}

.view-workout-page input[type="text"] {
    font-size: 1em;
    border: none;
    outline: none;
    width: 100%;
    padding-left: 2.5em; /* Adjust padding to make space for the icon */
}

.view-workout-page .search-icon {
    position: absolute;
    left: 1em; /* Adjust position to fit inside the input */
    top: 50%;
    transform: translateY(-50%);
    width: 1.25em;
    height: 1.25em;
    pointer-events: none;
}

.view-workout-page .workout-list {
    margin-top: 1em;
}

.view-workout-page .workout-item {
    padding: 1em;
    border-bottom: 1px solid #ddd;
}

.view-workout-page .workout-item:last-child {
    border-bottom: none;
}
