.decline {
    font-size: var(--size-base);
    width: 4rem;
}

.confirm {
    font-size: var(--size-base);
    width: 4rem;
}


.modal-statement {
    text-align: center;
    font-size: 1.5em;
}

.modal-confirm-button-div {
    margin-top: 1em;
    display: flex;
    justify-content: space-around;
}
