.hidden {
    /* display: none; */
    opacity: 0;
}

.nav-icon {
    color: var(--clr-light);
}

.nav-icon:hover {
    color: var(--clr-indigo);
}


.nav-bar-title {
    margin-left: 0.5em;
    font-size: var(--size-base);

}

.button-nav-link {
    text-decoration: none;
    color: var(--clr-light);
    font-size: var(--size-sm);
}

.button-nav-link:hover {
    color:var(--clr-slate400)
}

.button-nav-link.active {
    color: var(--clr-indigo);
}

.home-page-nav-links {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 50%;
    margin: auto;
}


.user-button {
    all: unset;
    position: relative;
    color: var(--clr-light)

}

.user-button:hover {
    cursor: pointer;
    color: var(--clr-light)
}

.profile-dropdown {
    font-size: 1.2em;
    list-style: none;
    position: absolute;
    background-color: white;
    width: 6em;
    border: 1px solid rgb(46, 45, 45);
    border-radius: 5px;
    padding: 0.5em 2em;
    top: 2em;
    right: 1em;
    transition: 0.25s;
    z-index: 10;
}

.profile-li {
    text-align: center;
    margin: 1em 0;
    font-size: var(--size-base);
}

.profile-person {
    color: var(--clr-slate400);
}

.links-person-div {
    display: flex;
    width: 100%;
    justify-content: center;
    position: relative;
}

.nav-top {
    display: flex;
    justify-content: space-between;
    margin-bottom: 1.5rem;
}

.navigation-div {
    display: flex;
    flex-direction: column;
    margin-top: 2rem;
}

.profile-button-person {
    position: relative;
    /* right: 1em;
    top: -0.25em; */
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin: 0em 2em;
    /* border: 1px solid red; */

}

.home-logo {
    display: flex;
    justify-content: flex-start;
    margin-left: 2em;

}


@media (max-width: 700px) {
    .fit-log {
        font-size: 24px;
    }

    .profile-button-person {
        font-size: 10px;
    }
    .profile-dropdown {
        font-size: 16px;
        top: 2.5em;
        right: 0em;
    }

    .nav-bar-title {
        display: none;
    }

}
